#dynamixStave {
    position:absolute;
    top:40% ;
    left: 18.5%;
    opacity: 1;
}
.hidden{
    visibility: hidden;
}
/* 
.floatingAllScore {

    position: absolute;

}

#part1Float{
position: absolute;
    top:40%;
    }
#part2Float{
    position: absolute;
}
#part3Float{
    position: absolute;
}
#part4Float{
    position: absolute;
} */