html {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}

.playback:focus{
    background-color: #AAA;
}

#scoreStage {
    display: inline-block;
    position: relative;
    height: auto;
    width: 100%;
}
#fullScore {
    position: relative;
}
#topbar {
    margin-left: 8px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    line-height: 0px;
    }
    #topbar button, select{
        padding:0 4px;
        margin:0px 2px;
    }

#conductorSelect {
    transform :scaleX(1.8), scaleY(1.1);
    width: 40px;
    height: 20px;
    display: inline;
}
#performanceNotesDisplay {
    height:auto;
    width:100%;
}
#conductorText {
    margin: 0;
    padding: 0;
    font-style: italic;
    color:#222;
}
#dynamixStave {
    position:absolute;
    top:40% ;
    left: 18.5%;
    opacity: 1;
}

#timer {
    position:inline;
    padding: 0 15px;
}

.hidden{
    visibility: hidden;
    display: none;
}

/* For All Parts Dynamics */
#scoreStage>p {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#part1Float{
    position:absolute;
transform: translateX(4vw) translateY(15.5vw);
    }
#part2Float{
    position: absolute;
    transform: translateX(4vw) translateY(25vw);
}
#part3Float{
    position: absolute;
    transform: translateX(4vw) translateY(34.5vw);
}
#part4Float{
    position: absolute;
    transform: translateX(4vw) translateY(44vw);
} 